@import "variables/global";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}


body {
  background: var(--clr-bg-light);
  font-family: var(--font-family-main);
}

