.header {
  text-align: center;
  pointer-events: none; /* чтобы клики уходили к кругу под ним */
}

.years {
  display: flex;
  gap: 75px;
  align-items: center;
}


.left,
.right {
  font-size: 200px;
  line-height: 160%;
  font-weight: var(--font-weight-bold);
  letter-spacing: -2%;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.left {
  color: var(--clr-iris-100);
}

.right {
  color: var(--clr-fuschia-100);
}
