

.sliderWrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  top: -20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  padding: 16px 0;
  max-width: 360px;
}

.slideYear {
  font-size: 25px;
  line-height: 120%;
  color: var(--clr-iris-100);
  margin-bottom: 18px;
}

.slideText {
  font-size: 20px;
  line-height: 30px;
  color: var(--clr-black-blue);
}

.navBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  background: #fff;
  color: var(--clr-iris-100);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background-color: var(--btn-hover);
  }

  &:active {
    transform: translateY(-50%) scale(0.95);
  }
}

.prevBtn {
  left: -60px;
}

.nextBtn {
  right: -60px;
}

.prevBtn {
  left: -60px;
}

.nextBtn {
  right: -60px;
}
