.wrapper {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  margin-top: 60px;
  background: var(--clr-bg-light);
  color: var(--clr-black-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px 48px;
  overflow: hidden;
}

.title {
  align-self: flex-start;
  font-weight: var(--font-weight-bold);
  font-size: 35px;
  line-height: 120%;
  color: var(--clr-black-blue);
  text-align: left;
  max-width: 100px;
  margin-bottom: 80px;
}

.headerYears {
  text-align: center;
  margin-bottom: 0;
}

.category {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  color: var(--clr-black-blue);
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  opacity: 0.9;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--clr-black-blue);
  opacity: 0.1;
  margin-bottom: 60px;
}

.sliderSection {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 120px;
  margin-bottom: 4px;
}

.stepper {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 4px;
  width: 100%;
}
